
    <table class="striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Titulo</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        {% for testplan in testplans %}
          <tr>
            <td>{{ testplan.id }}</td>
            <td>{{ testplan.title }}</td>
            <td>
              <a href="/admin/testmanagementboard/testexecution/{{testplan.id}}/change">Editar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
