{% extends 'base.html' %}

{% block content %}
    <div class="container">
      <a href="/admin/testmanagementboard/project/add/" class="waves-effect waves-light btn-small">Criar projeto</a>
      <div class="card" style="margin-top: 3%;">
          <table class="striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Descrição</th>
                <th>Ação</th>
              </tr>
            </thead>
            <tbody>
              {% for project in projects %}
                <tr>
                  <td style="margin-left: 20px;">{{ project.id }}</td>
                  <td>{{ project.name }}</td>
                  <td>{{ project.description }}</td>
                  <td><a href="projects/{{project.id}}">Visualizar</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

      </div>
    </div>
{% endblock %}
