{% extends 'base.html' %}

{%block nav_content%}
<div class="nav-content">
  <ul class="tabs tabs-transparent">
    <li class="tab"><a href="#design">Design</a></li>
    <li class="tab"><a href="#test">Testing</a></li>
    <li class="tab"><a href="#report">Report</a></li>
  </ul>
</div>
{%endblock%}

{% block content %}
  <div id="design" class="col s12">
    {% include 'fragment/design.html' %}
  </div>
  <div id="test" class="col s12">
    {% include 'fragment/test.html' %}
  </div>
  <div id="report" class="col s12">
    {% include 'fragment/report.html' %}
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function(){
      $('.tabs').tabs();
      $('select').formSelect();
    });

    function executarTestCase(testCaseId) {
      var url = '/abc/' + testCaseId;
      window.open(url, 'NovaJanela', 'width=600,height=1080');
    }

  </script>
{% endblock %}